<div id="wrapper">
    <div class="text-center" id="intro">
        <span id="title">Task Timer</span>
        <p id="description">This task timer allows someone to time their task.<br>Try enter a task below!</p>
    </div>
    <app-clock></app-clock>
    <div class="text-center">
        <mat-form-field id="taskInput">
            <input matInput placeholder="Enter task name to start timer...">
        </mat-form-field>
        <button mat-raised-button color="primary" id="enterBtn">Enter</button>
    </div>
</div>
<!-- <div id="table">
    <app-timer-table></app-timer-table>
</div> -->